
body{
    
    background-color: khaki;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: indigo;
    background-blend-mode: overlay;
}


.myclass{
    color:darkgreen;
    font-weight: bolder;
}

.class2{
    color:firebrick;
    font-weight: lighter;
}

#firstid{
       color:rgb(80, 9, 9);
    font-weight:bolder;
}